<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"> <!-- узнать размер екрана мобильного для адаптива -->
        <!--  Подключение библиотеки jquery для кнопки "показать номер" -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!--  Подключение bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--  Подключение таблицы стилей -->
        <link href="css/style.css" rel="stylesheet">

        <title>Портфолио</title>

        <!--  Подключение скрипта для гугл аналитики -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-87409669-1', 'auto');
          ga('send', 'pageview');
	     </script>
         
</head>
<body>
<div class="wrapper">
  <div class="content"> 
    <div class="col-xs-12 header">
      <div class="header2">
      <div class="row">  <!-- row1.1 -->
        <div class="flex-center"> <!-- header middle --> 
        	<div class="col-xs-1"> 
        		<a href="#">	
        			<img src="http://i.piccy.info/i9/d6a719e41da53120d6bb3ccb85d6bf11/1461026923/2262/1026341/logo.png" alt="logo JACK"  border="0px" align="right" 
         			vspace="5" hspace="5"/>
         		</a> 
        	</div>
          	<div class="col-lg-6 col-xs-7 white">
          		<p>
            		<strong>
            			<H4>
              			HTML onley portfolio page 
              			<span class="slash">  // </span>
           				</H4>
            		</strong>
           		</p>
        	</div>      
          	<div class="col-lg-5 col-xs-12">    
         		<nav role='navigation'>
          			<strong><H4>
           <a href="#top">
            Main
          <span class="slash">
            //
          </span>
           </a>
          </strong>
           <strong>
            <a href="#portfolio">
                  Portfolio
                  <span class="slash">
                    //
                  </span>                
                </a>
           </strong>
           <strong>
            <a href="#AboutMe">
                About me
                <span class="slash">
                  //
                </span>
              </a>
           </H4></strong>
         </nav>
        </div> <!-- header middle --> 
        </div>
	         </div> 
        </div> <!-- row1.1 -->
       </div><!-- header --> 
  
      <div class="center"><!-- centr align -->
        <div class="row"><!-- row2 last created project -->
          <div class="col-lg-3"><!-- left side -->         
            <div class="about">      
              <p>
                <strong>
                <h3>
                  LAST CREATED PROJECT
                <span class="slash">
                  //
                </span>
                </h3>
                </strong>
              <h5>
                It is a first weeks result of learning HTML and CSS. This page shows us a timeline of Bob Marley's live. And dedicate to reggae musical direction. His songs were inspireing me... <br><br>...while creating this page.<br>
              </h5>
              </p>  
              <div><!-- observe button -->
              <a href="https://codepen.io/Jackkill/full/KzoJZp/" class="c">CLICK TO OBSERVE</a>
            </div><!-- observe button -->
              </div>
          </div><!-- left side --> 
          <div class="col-lg-9"><!-- right side --> 
       <div class="project1">
         <div class="container-header">
  <img src=http://i.piccy.info/i9/500529aa225e6ea39e05fab753cb9964/1461361730/147213/1026341/firstpage.jpg width="100%" alt="project1"></a>
       </div>
       <div class="container-content flex-center">
        <img src="img/index.svg" />
       </div>
      </div><!-- right side -->
        </div><!-- row2 last created project -->
          <p><!-- anchor ABOUT ME -->
            <a name="AboutMe">
            </a>
          </p><!-- anchor ABOUT ME -->
        <div class="col-lg-12 line1"><!-- seperating line -->
        </div><!-- seperating line -->
        <div class="col-lg-12 line2"><!-- seperating line -->
        </div><!-- seperating line -->
        <div class="row"><!-- row3 about -->
          <div class="col-lg-4"><!-- ABOUT ME -->
            <p>
              <strong>
                <h3>
            ABOUT ME
            <span class="slash">
              //
            </span>
          </h3>
              </strong>
                <h5>
                My name is Jack and i am learning web development using "freecodecamp" course. Please estimate projects unprejudiced. If you have some offers or critics dont be a shy to contact me by e-male.<br><br>
                </h5>

          </div><!-- ABOUT ME --> 
          <div class="col-lg-4"><!-- MY WORKS --> 
            <p>
              <strong>
                <h3>
            ABOUT MY WORKS
            <span class="slash">
              //
            </span>
          </h3>
              </strong>
              <h5>
              In this page you can acquaint with drafts or test projects which weare created in a learning proces. Maybe you can find something intresting for you.       
               <br><br>
              </h5>
          </div><!-- MY WORKS -->
          <div class="col-lg-4"><!-- FILOSOFY -->
            <p>
              <strong>
              <h3>
              DESIGN PHILOSOPHY
              <span class="slash">
              //
              </span>
              </h3>
              </strong>
              <h5>
    I tried to create the most simple and beautiful cover. Also I payd attention to adaptive layout for high-quality and user-friendly displaying on different devices. <br><br>
       </h5>
          </div><!-- FILOSOFY -->
        </div><!-- row3 about -->
          <p>
          <a name="portfolio">
          </a>
        </p><!-- anchor BEST PROJECTS -->
        <div class="col-lg-12 line1"><!-- seperating line -->
        </div><!-- seperating line -->
        <div class="col-lg-12 line2"><!-- seperating line -->
        </div><!-- seperating line -->
        <div class="col-lg-12"><!-- BEST PROJECTS -->
          <p>
            <strong>
              <h3>
                BEST PROJECTS
                <span class="slash">
                  //
                </span>
              </h3>
            </strong>
          </p>
        </div><!-- BEST PROJECTS -->  
        <div class="row"><!-- row4 BEST PROJECTS -->
          <div class="col-lg-12 portfolio"><!-- 1line -->
            <div class="row flex-center">
    <div class="col-lg-4 project2">
      <img src=http://i.piccy.info/i9/500529aa225e6ea39e05fab753cb9964/1461361730/147213/1026341/firstpage.jpg width="100%" alt="project1">
     </a>
    </div>
    <div class="col-lg-4 project2">
      <img src=http://i.piccy.info/i9/4b5ba37d2c268b0da1555a47c1e255b2/1461362446/42761/1026341/secpage.jpg width="100%" alt="project1">
     </a>
    </div>
    <div class="col-lg-4 project2">
      <img src=http://i.piccy.info/i9/4b5ba37d2c268b0da1555a47c1e255b2/1461362446/42761/1026341/secpage.jpg width="100%" alt="project1">
     </a>
    </div>
  </div><!-- row4.1 PORTFOLIO -->
          </div><!-- 1line -->
          <div class="col-lg-12 portfolio"><!-- 2line -->
  <div class="row flex-center"><!-- row4.2 PORTFOLIO -->
              <div class="col-lg-4 project2">
                 <img src=http://i.piccy.info/i9/4b5ba37d2c268b0da1555a47c1e255b2/1461362446/42761/1026341/secpage.jpg width="100%" alt="project1">
                 </a>
                </div>
              <div class="col-lg-4 project2">
                 <img src=http://i.piccy.info/i9/4b5ba37d2c268b0da1555a47c1e255b2/1461362446/42761/1026341/secpage.jpg width="100%" alt="project1">
                 </a>
                </div>
              <div class="col-lg-4 project2">
                  <img src=http://i.piccy.info/i9/4b5ba37d2c268b0da1555a47c1e255b2/1461362446/42761/1026341/secpage.jpg width="100%" alt="project1">
                  </a>
                </div>
             </div><!-- row4.2 PORTFOLIO -->
            </div><!-- 2line -->
        </div><!-- row4 BEST PROJECTS -->
    </div><!-- centr align -->

    <div class="col-lg-12 footer"><!-- footer -->
      <div class="col-lg-12 flex-center white">
          <p>
            <strong>
            <H4>
              <span class="slash">E-mail me at</span> evgen.mikhalov@gmail.com 
              <span class="slash">  // </span>
            </H4>
            </strong>
           </p>
        </div>      

      </div> <!-- Contact section -->
      
    </div><!-- footer -->
  </div><!-- content -->
</div><!-- wrapper -->
</body>
</html>